.gridLabelTextRed {
    color: red;
    font-size: large;
}

.gridLabelTextGreen {
    color: green;
    font-size: large;
}

.gridLabelTextYellow {
    color: yellow;
    font-size: large;
}

.gridLabelTextBlue {
    color: cyan;
    font-size: large;
}

.gridLabelTextViolet {
    color: violet;
    font-size: large;
}

.backgroundRed {
    background-color: red;
}

.backgroundGreen {
    background-color: green;
}

.backgroundYellow {
    background-color: yellow;
}

.backgroundBlue {
    background-color: cyan;
}

.backgroundViolet {
    background-color: violet;
}