.gridLabelTextRed {
    color: red;
    font-size: large;
}

.gridLabelTextGreen {
    color: green;
    font-size: large;
}

.gridLabelTextYellow {
    color: yellow;
    font-size: large;
}

.gridLabelTextBlue {
    color: cyan;
    font-size: large;
}

.gridLabelTextViolet {
    color: violet;
    font-size: large;
}
